<template lang="pug">
  <div class="off-canvas">
    <div id="sidebar-id" class="off-canvas-sidebar" :class="{active:active}">
      <!-- off-screen sidebar -->
        .columns.col-gapless
            .column.col-10
                input.d-block.form-input
            .column.col-2
                button.btn.btn-primary.btn-block
                    <em class="lni lni-search-alt"></em>
    </div>

    <a class="off-canvas-overlay" @click="toggle(false)"></a>

    <div class="off-canvas-content" >
      <!-- off-screen content -->
    </div>
  </div>
</template>
<script>
export default {
    data(){
        return {
            active:false
        }
    },
    methods:{
        toggle(value = false){
            this.active=value
        }
    }
}
</script>
<style lang="scss" scoped>
    input,button{
        border:0px!important;
    }
</style>